@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.nextra-sidebar-container {
    background-color: #f6f9f6;  
}

.dark .nextra-sidebar-container {
    background-color: #161616;
}

div._mx-auto._flex._justify-center._py-12 {
    display: none;
}